

body{background-color: rgba(108, 178, 180, 0.575);}
h1.boas-vindas{ text-align: center;
color: rgb(20, 20, 20);}
.nav{text-align: center;
    color: black; 
border: 12px solid grey;
margin: 12px solid grey;
padding: 0px;}

