.logo-principal{
    display: block;
    text-align: center;
}
.navegacao{
    text-align: center;
    border: solid 1px color rgb(122, 122, 122);
    
    background-image: 
    linear-gradient(
        transparent 0%,
        transparente 90%,
        rgb(0, 94, 0) 90%
        rgb(0, 94, 0) 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: right;
    transition: background-size 300ms ;
}
.navegacao:hover{
    background-size: 100% 100%;
    background-position-x: left;
}
.navegacao:visited{color: rgb(0, 53, 0);}
